.header {
  width: 100%;
  height: auto;

  padding: 100px;

  background-color: hsl(180, 29%, 50%);
  background-image: url("../../../../public/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 700px) {
  .header {
    background-image: url("../../../../public/images/bg-header-desktop.svg");
  }
}
