@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;

  font-family: "Spartan", sans-serif;
  font-size: 15px;

  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;

  min-height: 100%;

  background-color: hsl(180, 52%, 96%);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 15%;
  height: auto;

  min-height: 350px;

  padding: 30px 10px;

  background-color: #c8eceb;

  align-self: flex-start;
}
.content {
  width: 85%;
  height: auto;
}

@media (max-width: 500px) {
  main {
    display: block;
  }
  .sidebar,
  .content {
    width: 100%;
  }

  .sidebar {
    padding: 30px 30px;
  }
}
